body {
    background-image: url(login\ IMG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-principal {
    display: inline-flex;
    background-color:rgba(0, 0, 0, 0.5);
    margin-left: 19%;
    margin-right: 0%;
    margin-top: 6%;
    margin-bottom: 5%;
    padding: 0;
    border-radius: 40px;
    position: relative;
    color: white;
    height: 420px;
}

.leftSide {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255, 0.5);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 258px;
    height: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.leftSide h2 {
    margin: 0;
    padding: 0;
    margin-top: 100px;
    text-align: start;
    margin-left: 15px;
    line-height: 40px;
    color: black;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
}

.leftSide p {
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 15px;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.rightSide {
    text-align: center;
    height: 100%;
}

.campo1 {
    padding: 0%;
    margin: 0%;
}

.campo1 input {
    margin: 0%;
    width: 90%;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(218, 209, 209, 0.5);
    color: black;
    border: 1px solid white;
    transition: all 0.4s ease;
    margin-left: 15px;
    padding: 0%;
}

.campo1 label {
    padding: 0%;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.campo2 {
    margin: 0;
    padding: 0%;
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.campo2 input[type=file]::file-selector-button{
    height: 25px;
    border-radius: 20px;
    background-color: rgb(218, 209, 209, 0.5);
    color: black;
    border: 1px solid white;
    transition: all 0.4s ease;
    align-items: center;
    text-decoration: none;
}

.lista {
    background-color: rgb(255, 255, 255, 0.3);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 250px;
    margin-left: 26px;
}

.lista li {
    margin-left: 40px;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.rightSide fieldset {
    margin-top: 0;
    border: none;
    display: flex;
    position: relative;
    flex-direction: row;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
    width: 100%;
}

.linha1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    position: relative;
    text-align: left;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 0%;
    padding: 0%;
    font-family: 'Playfair Display', serif;
    margin-right: 0%;
}

.linha1 P {
    margin: 0;
    padding: 0;
    letter-spacing: 7px;
}

.linha2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    position: relative;
    text-align: left;
    margin-left:225px ;
    margin-bottom: 0%;
    padding: 0%;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    height: 5%;
}

.linha2 p {
    margin: 0%;
    padding: 0%;
    letter-spacing: 3px;
}

.linha2::after{
    content: " ";
    flex: 1;
    height: 1px;
    width: 10px;
    background-color: white;
    margin-left: 0px;
    margin-right: 200px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.textorightSide {
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

.botoes {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 30px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0px;
    width: 25%;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.botoes a {
    text-decoration: none;
    color: white;
}

.botoes:hover{
    background-color: gray;
    color: black;
}

footer {
    margin: 0;
    color: white;
    text-align: center;
    justify-content: center;
    background-color: black;
    bottom: 0%;
    padding-bottom: 1px ;
    width: 100%;
    position: absolute;
    font-size: 12px;
}

footer p {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

input[type="file"] {
    opacity: 0; /* Torna o input invisível */
    position: absolute; /* Remove do fluxo visual */
    width: 0;
    height: 0;
  }

  /* Substituto estilizado */
  .file-upload {
    background-color: rgba(68, 68, 68, 0.5);
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 20px;
    padding-top: 15px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.7s ease;
    margin: 0px;
    width: 25%;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 35px;
    letter-spacing: 3px;
  }

  .file-upload:hover {
    background-color: rgba(110, 109, 109, 0.5);
    transition: all 0.7s ease;
    border:none;
  }