body {
    background-image: url(login\ IMG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.telaPrincipal {
    background-color: rgba(0, 0, 0, 0.5);
    filter:brightness(70%);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6%;
    margin-bottom: 0;
    padding: 0;
    border-radius: 40px;
    position: relative;
    display: inline-flex;
    color: white;
}

.divisao1 {
    width: 450px;
    text-align: center;
}

.divisao2{
    background-color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 200px;
    text-align: center;
}

.botoes{
    background-color:rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding: 8px 40px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
    margin-bottom: 20px;
    width: 35%;
    height: 30px;

}

.botoes:hover{
    background-color:gray; 
    color: black;
}

a {
    color: white;
    font-size: 11px;
    padding: 5px;
    margin-top: 5px;
    transition: all 0.3s ease;
}

a:hover{
    color: gray;
}
    
input {
    width: 60%;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(218, 209, 209);
    color: black;
    border: 1px solid white;
    transition: all 0.4s ease;

}

input:hover{
    border: 1px solid rgb(0, 0, 0);
}

.fontesMaiores {
  
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  color: white;

}

.fontesMenores {
    
  font-family: "Montserrat Underline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
  color: white;
}