*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    top: 0;
    background-image: url("login\ IMG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

#titulo {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    position: relative;
    gap:2px;
    margin-left: 10%;
    margin-top: 5px;
}

#buscar{
    width: 100%;
    padding: 10px 10px;;
    font-size: 12px;
    background-color: rgb(252, 252, 252, 0.5);
    border-radius: 25px;
    border: solid 1px black;
    transition: all 0.4s ease;
    position: relative;
}   

#buscar:hover{
    border: 1px solid rgb(255, 254, 254);
    background-color: rgb(0, 0, 0, 0.2);
}

.botoes{
    background-color:rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    color: white;
    border-radius: 90px;
    padding: 5px 8px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    

}


#logo{
    width: 100px;
    height: 100px;
    margin-top: 0px;
    margin-left: 70px;
    position: relative;
    
}

.botoes:hover{
    background-color:gray; 
    color: black;
}

#botaoBusca {
    margin-top: 5px;
    right: 5px;
    width: 50px;
    position: absolute;
    padding-left: 19px;

}
   

#usuario{
    margin-top: 65px;
    top: 10px;
    font-weight: bold;
    justify-content: flex-start;
    margin-right: 10px;
    position: absolute;
    left:84%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    white-space: nowrap;

}

#botaoUser{
    justify-content:flex-start;
    margin-top: 60px;
    top:10px;
    width: 50px;
    position: absolute;
    right: 8px;

}

#divFooter {
    display: flex;
    justify-content: center;
}

footer {
   
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top:100%;
    bottom: 0%;
    margin: 0%;
    padding-bottom: 1px;
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
}

#logoMenor {
    width: 90px;
    height: 90px;
    position: relative;
}

p {
    width: 40%;
}

#oqueE {
    border: solid 1px white;
    padding: 10px 20px;
    margin-left: 10%;
    margin-top: 40px;
}

#escolha{
    color: white;
    font-weight: lighter;
    margin-left: 10%;
    padding: 10px 20px;
    
}

.alinhar{
    display: flex;
    align-items: right;
    justify-content: right;
    transform: translateY(10%);
    bottom: 470px;
    height: fit-content;
    width: fit-content;
    position: relative;
    margin-top: 123px;
    left: 10%;
}

#objetivo {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    border: solid 1px black;
    padding: 10px 20px;
    width: 150px;
    position:absolute;
    bottom: 0px;
    margin-top: 200px;
    left: 70%;
}

#objetivoP{
    font-family: 'Playfair Display', serif, monospace;
    font-weight: bold;
    position: relative;
    top: 165px;
    right: 5%;
}

.alinharObjetivo {
    display: flex;
    width: 20%;
    justify-content: right;
    margin-left: 50%;
    margin-top: 50px;
}

.idealizadores {
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 40px 0;
    color: white;
    position: relative;
    bottom: 150px;

}

.idealizadores-conteudo{
    display: flex;
    justify-content: center;
    gap:70px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.idealizador{
    text-align: center;
}

.idealizador img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid 1px white;
    
}

.idealizador p{
    margin-top: 10px;
    font-size: 15px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    margin-left: 30px;
}


#borda {
    border: solid 1px white;
    width: 300px;
    padding: 15px;
    padding-bottom: 5px;
}

nav.menu {
    width: 80px;
    height: 100vh;
    background-color: rgb(212, 199, 199,0.5);
    background-size: cover;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(51, 50, 50);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    z-index: 1;
}

nav.menu.expandir {
    width: 300px;
    background-color: rgb(212, 199, 199);

}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir i {
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style: none;
}

ul li.item-menu {
    transition: .1s;
}

ul li.ativo{
    background-color: grey;
    border: solid 1px white;
}

ul li.item-menu:hover{
    background-color: rgb(27, 27, 27, 0.5);
}

ul li.item-menu a{
    color: rgb(39, 35, 35);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 7px;
    display: flex;
    margin-bottom: 10px;
    line-height: 20px ;
}

ul li.item-menu a .text{
    margin-left: 70px;
    transition: 1s;;
    opacity: 0;
    font-weight: bold;
}

nav.menu.expandir .text{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon i{
    font-size: 25px;
}

