body {
    background-image: url(login\ IMG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.alinharItens {
    display: flex;
    height: 200px;
}

.alinharTitulo {
    display: flex;
    
}

.p1 {
    margin-top: 25px;
}

.left p {
    margin: 0%;
    padding: 0%;
    font-size: 25px;
    letter-spacing: 3px;
}

#titulo {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    position: relative;
    gap:2px;
    margin-left: 40px;
    margin-top: 5px;
}

#motoristaImg {
    opacity: 0.3;
    height: 400px;
    right: 0;
    position: relative;
    margin-left: 60%;
    align-items: baseline;
    align-content: baseline;
    text-align:end;
    object-fit: cover;
}

#buscar{
    width: 463%;
    padding: 10px 10px;;
    font-size: 12px;
    background-color: rgb(252, 252, 252, 0.5);
    border-radius: 25px;
    border: solid 1px black;
    transition: all 0.4s ease;
    position: relative;
}   

#buscar:hover{
    border: 1px solid rgb(255, 254, 254);
    background-color: rgb(0, 0, 0, 0.2);
}

#botaoBusca {
    margin-top: 5px;
    right: 5px;
    width: 50px;
    position: absolute;
    padding-left: 19px;

}

.principal {
    margin: 0%;
    padding: 0%;
    margin-left: 35px;
    display: flex;
}

.principal p {
    letter-spacing: 3px;
}

.botoes{
    background-color:rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    color: white;
    border-radius: 90px;
    padding: 5px 8px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botoes:hover{
    background-color:gray; 
    color: black;
}

#usuario{
    margin-top: 52px;
    font-weight: bold;
    justify-content: flex-start;
    margin-right: 10px;
    position: relative;
    left: 63%;
    font-size: 20px;
}

#botaoUser{
    justify-content: flex-start;
    margin-top: 70px;
    width: 50px;
    position: absolute;
    right: 8px;

}

.informacoes {
    color: white;
}


.informacoes input[type=text] {
    margin: 0%;
    width: 300%;
    height: 28px;
    border-radius: 20px;
    background-color: rgb(218, 209, 209, 0.5);
    color: black;
    border: 1px solid white;
    transition: all 0.4s ease;
    margin-left: 15px;
    padding: 0%;
}

.alinharBotao {
    text-align: center;
    padding: 0%;
    margin: 0%;
    margin-bottom: 12px;
}

.botaoMotorista {
    margin: 0%;
    padding: 0px 80px;
    height: 35px;
    border-radius: 20px;
    background-color: black;
    border: 1px solid white;
}

.botaoMotorista a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0%;
    margin-bottom: 0%;
    padding-bottom: 1px;
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
}