*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(login\ IMG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.alinharItens {
    display: flex;
    height: 200px;
}

.alinharTitulo {
    display: flex; 
}

.p1 {
    margin-top: 25px;
}

.left p {
    margin: 0%;
    padding: 0%;
    font-size: 25px;
    letter-spacing: 3px;
}

#titulo {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    position: absolute;
    gap:2px;
    margin-left: 10%;
    margin-top: 5%;
}

#motoristaImg {
    opacity: 0.3;
    height: 400px;
    right: 0;
    position: relative;
    margin-left: 60%;
    align-items: baseline;
    align-content: baseline;
    text-align:end;
    object-fit: cover;
}

#buscar{
    width: 100%;
    padding: 10px 10px;;
    font-size: 12px;
    background-color: rgb(252, 252, 252, 0.5);
    border-radius: 25px;
    border: solid 1px black;
    transition: all 0.4s ease;
    position: absolute;
}   

#buscar:hover{
    border: 1px solid rgb(255, 254, 254);
    background-color: rgb(0, 0, 0, 0.2);
}

#botaoBusca {
    margin-top: 5px;
    right: 5px;
    width: 50px;
    position: absolute;
    padding-left: 19px;

}

.principal {
    margin: 0%;
    padding: 0%;
    margin-left: 35px;
    display: flex;
}

.principal p {
    letter-spacing: 3px;
}

.botoes{
    background-color:rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    color: white;
    border-radius: 90px;
    padding: 5px 8px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botoes:hover{
    background-color:gray; 
    color: black;
}

#usuario{
    margin-top: 73px;
    font-weight: bold;
    justify-content: flex-start;
    margin-right: 10px;
    position: absolute;
    left: 83%;
    font-size: 20px;
}

#botaoUser{
    justify-content: flex-start;
    margin-top: 70px;
    width: 50px;
    position: absolute;
    right: 8px;
}

.informacoes {
    color: white;
    margin-left: 7%;
}


.informacoes input[type=text] {
    margin: 5%;
    width: 300%;
    height: 28px;
    border-radius: 20px;
    background-color: rgb(218, 209, 209, 0.5);
    color: black;
    border: 1px solid white;
    transition: all 0.4s ease;
    margin-left: 15px;
    padding: 0%;

}

.alinharBotao {
    text-align: center;
    padding: 0%;
    margin: 0%;
    margin-bottom: 12px;
}

.botaoMotorista {
    margin: 0%;
    padding: 0px 80px;
    height: 35px;
    border-radius: 20px;
    background-color: black;
    border: 1px solid white;
}

.botaoCancelar {
    margin: 0%;
    margin-right: 38px;
    padding: 0px 60px;
    height: 35px;
    border-radius: 20px;
    background-color: black;
    border: 1px solid white;
    color: white;
}

.botaoMotorista a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0%;
    margin-bottom: 0%;
    padding-bottom: 1px;
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
}

nav.menu {
    width: 80px;
    height: 100vh;
    background-color: rgb(212, 199, 199,0.5);
    background-size: cover;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(51, 50, 50);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    z-index: 1;
}

nav.menu.expandir {
    width: 300px;
    background-color: rgb(212, 199, 199);

}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir i {
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style: none;
}

ul li.item-menu {
    transition: .1s;
}

ul li.ativo{
    background-color: grey;
    border: solid 1px white;
}

ul li.item-menu:hover{
    background-color: rgb(27, 27, 27, 0.5);
}

ul li.item-menu a{
    color: rgb(39, 35, 35);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 7px;
    display: flex;
    margin-bottom: 10px;
    line-height: 20px ;
}

ul li.item-menu a .text{
    margin-left: 70px;
    transition: 1s;;
    opacity: 0;
    font-weight: bold;
}

nav.menu.expandir .text{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon i{
    font-size: 25px;
}

#logo{
    width: 100px;
    height: 100px;
    margin-top: 0px;
    margin-left: 70px;
    position: relative;
    
}